.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.item-checkbox {
    margin-right: 1rem;
}

.remove {
    background-color: red;
    border-radius: 40%;
    color: #fff;
    border: none;
}

.done {
    text-decoration: line-through;
}